/* SLIMBOX */

#lbOverlay { position: fixed; z-index: 9999; left: 0; top: 0; width: 100%; height: 100%; background-color: #000; cursor: pointer; }
#lbCenter, 
#lbBottomContainer { position: absolute; z-index: 9999; }
.lbLoading { background: #fff url(loading.gif) no-repeat center; }
#lbImage { position: absolute; left: 0; top: 0; border: 10px solid #6adbd8; background-repeat: no-repeat; }

#lbPrevLink, 
#lbNextLink { display: block; position: absolute; top: 50%; margin-top:-30px; width:70px; height:70px!important; border-radius:50%; outline: none;
    border:6px solid #6adbd8; color:#6adbd8; text-align:center; line-height:63px; font-size:40px; }
#lbPrevLink { left:-113px; }
#lbPrevLink:hover, #lbNextLink:hover { border:10px solid #fff; width:70px; height:70px!important; border-radius:50%; line-height:55px; }
#lbNextLink { right:-113px; }

#lbBottom { font-size: 14px; color: #fff; display: none; }
#lbCloseLink { display: none; float: right; margin:0; outline: none; }
#lbCloseLink:hover { background:#f280b3 url(lightbox_close.png) no-repeat center; border:10px solid #f280b3; }
#lbNumber { color: #fff!important; position:absolute; top:0; right:0; background:#6adbd8; font-style:italic; font-weight:300; font-size:16px; padding:20px; }
#lbNumber span { font-weight:700; font-size:30px!important; line-height:30px; }
