/* SLIMBOX */

#lbOverlay { position: fixed; z-index: 9999; left: 0; top: 0; width: 100%; height: 100%; background-color: #000; cursor: pointer; }
#lbCenter, #lbBottomContainer { position: absolute; z-index: 9999; overflow: hidden; }
.lbLoading { background:url(loading.gif) no-repeat center; }
#lbImage { position: absolute; z-index:999999; }

#lbPrevLink, #lbNextLink { display: none;/* position: absolute; top: 40%; width:34px; height:19px !important; outline: none; background: transparent url(../../../template/images/arrow_dukeu.png);*/ }
/*#lbPrevLink { left: 14px; background-position:top left; }
#lbPrevLink:hover { background-position:bottom left; }
#lbNextLink { right: 14px; background-position:top right; }
#lbNextLink:hover { background-position:bottom right; }*/

#lbBottom { padding-top:24px; font-family:"CollatorRegular", Arial, Helvetica, sans-serif; font-size:12px; color: #fff; line-height:17px; text-align: left; height:30px; }
#lbCloseLink { width: 53px; height: 53px; background:url(../img/lightbox_close.gif) no-repeat center; margin:0; outline: none; position:absolute; top:0px; right:0; }
#lbCaption, #lbNumber { display:none; }
#lbCaption h3 { font-size:30px; margin-bottom:18px; }

