/*
skins available:
	- universal
	- classic
	- attractive
*/

/* the container */
.allinone_bannerRotator { position:relative; }
.allinone_bannerRotator img { position:absolute; top:0px; left:0px; max-width:none; max-height:none; }
.allinone_bannerRotator_list { margin:0; padding:0; list-style:none; display:none; }
.allinone_bannerRotator .stripe { position:absolute; display:block; height:100%; z-index:1; overflow:hidden; }
.allinone_bannerRotator .block { position:absolute; display:block; z-index:1; overflow:hidden; }
.mycanvas { position:absolute; top:8px; right:10px; z-index:10; }


/***CLASSIC SKIN***/
.allinone_bannerRotator.classic .bannerControls { position:absolute; left:0; top:0; z-index:2; width:100%; }

.allinone_bannerRotator.classic .bottomNav { position:absolute; height:5px; width:585px!important; position: absolute; left:50%!important; margin-left:-105px!important; z-index:999; }
.allinone_bannerRotator.classic .bottomNavButtonOFF { float:left; display:block; border-bottom:1px solid #5f5f5f; width:136px; height:5px; margin: 0 5px; outline: 0; display: block; }

.allinone_bannerRotator.classic .bottomNavButtonON { float:left; display:block; border-bottom:1px solid #0abab5; width:136px; height:5px; margin: 0 5px; outline: 0; cursor:pointer; }

.textElement_classic_FullWidth { width:575px; height:280px; }
.textElement_classic_FullWidth h2{ font-weight:700; text-transform:uppercase; font-size:66px; line-height:66px; margin:0 0 30px 0; }
.textElement_classic_FullWidth h2 span{ font-weight:300!important; font-size:30px; line-height:30px; text-shadow:none; }
.textElement_classic_FullWidth p{ font-weight:300; color:#5f5f5f; font-size:18px; margin:10px 0 50px 0; }
.white { color:#fff; }
.black { color:#2b2b2b; }
.blue { color:#63ccc9; }


/***Text Styles***/

.allinone_bannerRotator_texts { position:absolute; z-index:3; display: none; width:100%; }
.allinone_bannerRotator_text_line { position:absolute; }


.hideElement { display:none; }

@media only screen and (max-width: 1200px) {
.textElement_classic_FullWidth { width:475px; }
.textElement_classic_FullWidth h2 { font-size:55px; line-height:55px; margin:0 0 10px 0; }
.textElement_classic_FullWidth h2 span { font-size:25px; line-height:25px; }
.textElement_classic_FullWidth p { margin:10px 0 30px 0; }
	
}