/* CSS Document */
body {
  font-family: "ff-enzo-web", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #000;
  padding: 0;
  margin: 0;
  background: #fff;
}
@transition {
  transition: all 0.2s;
}
@center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
a {
  text-decoration: none;
  outline: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
p {
  font-weight: 300;
  font-size: 16px;
}
#wrapper {
  margin: 0;
  padding: 0;
  height: auto;
  position: relative;
  overflow: hidden!important;
}
.content {
  position: relative;
  margin: 0 auto;
  padding: 0;
}
header {
  height: 126px;
  background: #2b2b2b;
  text-align: center;
  padding-top: 20px;
}
.logo {
  height: 106px;
}
.logo img {
  display: inline-block;
}
.ribbon-back {
  height: 45px;
  background: url('../img/bg_ribbon_tape.jpg') top center;
}
.ribbon {
  position: absolute;
  top: -103px;
  right: 0px;
  z-index: 999;
  float: right;
}
.navigation {
  background: #63ccc9;
  border: none;
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, #63ccc9 0%, #6adbd8 5%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63ccc9', endColorstr='@blue', GradientType=0);
  /* IE6-9 */
}
.navigation .navbar-inverse {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0;
}
.navigation .navbar-inverse ul.nav {
  margin-bottom: 0;
}
.navigation .navbar-inverse ul.nav li {
  border-bottom: 0 solid #0abab5;
  height: 67px;
}
.navigation .navbar-inverse ul.nav li a {
  font-weight: 700;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 39px;
}
.navigation .navbar-inverse ul.nav li:hover {
  border-bottom: 6px solid #0abab5;
}
.navigation .navbar-inverse ul.nav li:hover a {
  color: #0abab5;
  text-decoration: none;
}
.navigation .navbar-inverse .navbar-toggle,
.navigation .navbar-inverse navbar-toggle:hover,
.navigation .navbar-inverse .navbar-inverse .navbar-toggle:focus {
  background-color: transparent!important;
  border: 0 solid;
}
#bottom {
  height: 90px;
  line-height: 90px;
  background: #6adbd8;
}
#bottom nav {
  line-height: 90px;
  margin-right: 10px;
}
#bottom .ut {
  margin-top: 15px;
}
#bottom a {
  font-weight: 700;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 90px;
  margin-right: 18px;
  text-decoration: none;
}
#bottom a:hover {
  color: #0abab5;
}
#bottom .img-responsive {
  display: inline-block;
}
footer {
  height: 936px!important;
  display: block;
  background: url('../img/bg_footer.jpg') no-repeat top center;
  background-size: cover;
  max-width: 100%;
}
.btn_social {
  z-index: 99999;
}
.btn_social span {
  font-size: 28px;
  color: #0abab5;
  line-height: 67px;
  float: left;
}
.btn_social:hover span {
  color: #fff;
}
.twitter span {
  font-size: 35px;
  line-height: 64px;
  margin-right: 20px;
}
/* Home
  ================================================== */
.owl-carousel .item {
  position: relative;
}
.owl-carousel .item .caption {
  position: absolute;
  width: 100%;
  top: 22%;
  right: 24%;
  z-index: 10;
  text-align: right;
}
.owl-carousel .item .caption span {
  font-family: "ff-enzo-web";
  color: #6adbd8;
  text-transform: uppercase;
  font-size: 10px;
}
.owl-carousel .item .caption h3 {
  color: #fff;
  font-family: "ff-enzo-web";
  line-height: 1em;
  font-size: 1.719vw;
  text-transform: uppercase;
}
.owl-carousel .item .caption h1 {
  color: #fff;
  font-family: "ff-enzo-web";
  line-height: 1em;
  font-size: 3.438vw;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 1.6% 0;
}
.owl-carousel .item .caption p {
  font-size: 18px;
  color: #5f5f5f;
  margin: 0 0 2% 0;
}
.owl-theme .owl-dots {
  position: relative;
  bottom: 40px;
  outline: none;
}
.owl-theme .owl-dots .owl-dot {
  height: 20px!important;
  outline: none;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: none;
}
.owl-theme .owl-dots .owl-dot span {
  display: block;
  border-bottom: 1px solid #0abab5;
  width: 136px;
  height: 1px;
  margin: 0 5px;
  outline: none;
  cursor: pointer;
}
.owl-nav {
  display: none;
}
.instagram_post {
  position: relative;
  padding-top: 15px;
}
.instagram_post a img {
  opacity: 0.8;
  max-width: 100%;
  height: auto;
}
.instagram_post a:hover img {
  opacity: 1;
}
.instagram .instagram_info {
  text-align: center;
  opacity: 0;
  text-transform: uppercase;
  padding: 5px 10px;
  color: #fff;
  pointer-events: none;
  background: #000;
  font-size: 16px;
}
.instagram .instagram_info ul {
  display: inline-block;
}
.instagram .instagram_info ul li {
  color: #fff;
  padding: 0 10px;
  float: left;
}
.instagram:hover .instagram_info {
  opacity: 1;
}
.instagram:hover p {
  color: #6adbd8;
  background: #fff;
}
#hp_news {
  margin-bottom: 64px;
}
.inner {
  width: 100%;
  position: relative;
  margin: 0 auto;
}
.inner .primary {
  margin: 0 auto;
  position: relative;
}
.inner .primary .bx-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  *zoom: 1;
  height: auto;
}
/* Pages
  ================================================== */
.title_side {
  height: 65px;
  border-bottom: 2px solid #aeaeae;
  position: relative;
  margin-bottom: 15px;
  margin-top: 25px;
}
.title_side h2 {
  font-weight: 700;
  line-height: 46px;
  margin: 0;
  color: #2b2b2b;
  font-size: 46px;
  text-transform: uppercase;
}
.title_side .arrow {
  position: absolute;
  bottom: -6px;
  left: 50px;
}
.dark_bg {
  background: #2b2b2b;
  color: #fff;
}
.dark_bg .title_side {
  border-bottom: 2px solid #555;
}
.dark_bg .title_side h2 {
  color: #fff;
  text-transform: none;
  font-size: 37px;
}
.dark_bg .title_side h2 span {
  font-weight: 300;
}
.dark_bg .title_side h2 span.icon-twitter {
  color: #0abab5;
  margin-right: 15px;
  font-size: 35px;
}
.title {
  height: 88px;
  border-bottom: 2px solid #6adbd8;
  position: relative;
  margin-bottom: 50px;
  margin-top: 44px;
}
.title h1 {
  font-weight: 300;
  line-height: 48px;
  margin: 0;
  color: #6adbd8;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}
.title .arrow {
  position: absolute;
  bottom: -6px;
  left: 50%;
  margin-left: -38px;
}
.separator {
  height: 29px;
  border-bottom: 2px solid #6adbd8;
  position: relative;
  margin-bottom: 38px;
}
.separator .arrow {
  position: absolute;
  bottom: -6px;
  left: 50%;
  margin-left: -38px;
}
.btns {
  padding: 12px 30px;
  border-left: 1px solid #2b2b2b;
  border-right: 1px solid #2b2b2b;
  font-weight: 700;
  font-size: 12px;
  color: #2b2b2b;
  background: none;
  text-transform: uppercase;
}
.btns:hover {
  background: #2b2b2b;
  color: #fff;
}
.dark_bg .btns,
.captions .btns,
span.white .btns {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  color: #fff;
}
.dark_bg .btns:hover,
.captions .btns:hover,
.white .btns:hover {
  background: #fff;
  color: #2b2b2b;
}
.text h2 {
  font-weight: 700;
  font-size: 24px;
  color: #2b2b2b;
  margin: 45px 0 15px 0;
}
.text p {
  line-height: 21px;
  margin: 15px 0 25px 0;
}
.text h3 {
  font-weight: 700;
  line-height: 21px;
  font-size: 16px;
  color: #2b2b2b;
}
.text .icon-phone {
  color: #2b2b2b;
  font-size: 18px;
  margin-right: 15px;
}
.text .icon-mail {
  color: #2b2b2b;
  font-size: 24px;
  margin-right: 15px;
  vertical-align: sub;
}
.text a {
  color: #6adbd8;
  font-weight: 700;
}
.text a:hover {
  color: #000;
}
.header {
  padding-top: 11px;
}
.header img {
  height: auto;
}
a.margin {
  margin-left: 85px;
}
/* Maiya
  ================================================== */
.bg_maiya {
  background: url(../img/bg_maiya.jpg) no-repeat right 1000px, url(../img/bg-maiya-left.jpg) no-repeat left 300px !important;
}
.bg_maiya .maiya_text {
  margin: 0 auto;
  position: relative;
}
.bg_maiya .maiya_text p {
  color: #2b2b2b;
  line-height: 24px;
}
.bg_maiya .maiya_text a {
  color: #6adbd8;
}
.bg_maiya .maiya_text .img_center {
  margin-left: 133px;
  margin-bottom: 50px;
}
.bg_maiya .maiya_text .firstcharacter {
  float: left;
  line-height: 95px;
  padding-top: 10px;
  padding-right: 40px;
  font-family: "southern_aire_personal_use_Rg", Helvetica, Arial, sans-serif;
  font-size: 147px;
}
.bg_maiya .maiya_text .maiya_team {
  margin-left: -60px;
  margin-right: 20px;
}
.bg_maiya .img_border {
  border: 23px solid #6adbd8;
  margin-left: 20px;
  margin-bottom: 10px;
}
/* Schedule
  ================================================== */
.table_header {
  background: #2b2b2b;
  height: 68px;
  margin-top: 50px;
}
.table_header table {
  width: 100%;
}
.table_header table td {
  height: 68px;
  border-right: 2px solid #545454;
  line-height: 68px;
  padding-left: 10px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
.table_header table td:first-child {
  padding-left: 0;
}
.table_header table td:last-child {
  border: none;
}
.schedule_list table {
  width: 100%;
}
.schedule_list table td {
  height: 83px;
  vertical-align: middle;
  padding-left: 10px;
  font-weight: 300;
  font-size: 14px;
  border-bottom: 1px solid #d6d6d6;
}
.schedule_list table td:first-child {
  padding-left: 0;
}
.schedule_list table td.event {
  font-weight: 700;
}
.schedule_list table td.date {
  white-space: nowrap;
}
/* Teaching
  ================================================== */
.bg_fundraiser {
  margin-bottom: 50px;
}
.bg_fundraiser a {
  color: #6adbd8;
}
.bg_fundraiser p {
  color: #2b2b2b;
  line-height: 24px;
}
.teaching-header {
  height: 735px;
  display: block;
  background-image: url('../img/bg_schedule_header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}
.img_border {
  border: 23px solid #6adbd8;
}
.teaching_img img {
  margin: 15px 0px;
}
.event_text h3 {
  font-weight: 700;
  font-size: 30px;
  color: #2b2b2b;
  margin: 45px 0 15px 0;
}
.event_text p {
  line-height: 28px;
  margin: 15px 0 25px 0;
  font-size: 24px;
}
.event_text p i {
  font-style: italic;
}
.event_text table {
  font-size: 16px;
  color: #2b2b2b;
  margin-bottom: 100px;
}
.event_text table th {
  font-weight: 700;
  text-align: left;
}
.event_text table td {
  font-weight: 300;
}
.fundraiser_logo {
  padding: 30px 18px 40px 18px;
  background: #6adbd8;
  margin-top: 20px;
}
.fundraiser_logo img {
  float: left;
  margin: 0 22px;
  height: 78px;
  width: auto;
}
.steps {
  margin: 60px 0 40px 0;
  padding: 0;
}
.steps .tab {
  display: inline-block;
  zoom: 1;
  *display: inline;
  border-bottom: solid 3px #d0d0d0;
  height: 45px;
  padding-bottom: 3px;
  line-height: 35px;
  width: 49.5%;
  text-align: center;
}
.steps .tab a {
  font-size: 30px;
  font-weight: 300;
  color: #999;
  display: block;
  padding: 0;
  outline: none;
}
.steps .active {
  position: relative;
  border-bottom: solid 6px #6adbd8;
  padding: 0;
}
.steps .active a {
  color: #6adbd8;
  font-weight: 700;
}
.steps .panel-container {
  margin-bottom: 50px;
}
#registration_form h3 {
  font-weight: 700;
  font-size: 24px;
  color: #2b2b2b;
  margin: 0 0 15px 0;
}
#registration_form p {
  margin: 15px 0 25px 0;
}
.spacer {
  width: 100%;
  height: 30px;
  display: block;
}
.redbox {
  border: 2px solid #ff0000;
  padding: 25px 35px 15px 35px;
  float: left;
}
.redbox h3 {
  font-weight: 700;
  font-size: 24px;
  color: #2b2b2b;
  margin: 0 0 15px 0;
}
.redbox ul {
  list-style: disc;
  padding: 0 0 0 35px;
}
.redbox li {
  font-weight: 300;
  font-size: 16px;
  color: #2b2b2b;
  margin: 15px 0;
}
.redbox li b {
  color: #ff0000;
}
#billing table {
  width: 50%;
  margin: 50px 0;
}
#billing table th {
  font-weight: 700;
  font-size: 24px;
  color: #2b2b2b;
}
#billing table td {
  font-weight: 300;
  font-size: 18px;
}
#billing table .border_top {
  border-top: 1px solid #000;
}
/*---Popup---*/
#basic-modal-content {
  display: none;
}
#simplemodal-overlay {
  background: #000;
}
#simplemodal-container {
  height: 360px;
  width: 600px;
  background: #c41230;
  padding: 8px;
  text-align: center;
}
#simplemodal-container a.modalCloseImg {
  background: #000 url(../img/close.png) no-repeat center;
  position: absolute;
  top: -9px;
  right: -9px;
  width: 36px;
  height: 36px;
  border-radius: 20px;
  outline: none;
}
#simplemodal-container a.modalCloseImg:hover {
  background-color: #c41230;
  cursor: pointer;
}
#simplemodal-container .popup_message {
  height: 120px;
  width: 560px;
  background: #fff;
  padding: 120px 20px;
}
#simplemodal-container h3 {
  font-family: "geometr212_bkcn_btheavy", Arial, Helvetica, sans-serif;
  font-size: 36px;
  color: #c41230;
  line-height: 50px;
  font-weight: normal;
  margin: 0;
}
#simplemodal-container p {
  font-family: "geometr212_bkcn_btbook", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #666;
  line-height: 30px;
  font-weight: normal;
  margin: 15px 0;
}
/* Sponsors
  ================================================== */
.partner_containers {
  min-height: 371px;
  padding: 50px 0;
  border-bottom: 1px solid #ddd;
}
.partner_containers img {
  margin-right: 30px;
  margin-bottom: 20px;
}
.partner_containers .descriptions img {
  height: auto;
}
.partner_containers .descriptions h3 {
  font-weight: 700;
  line-height: 30px;
  margin: 5px 0 15px 0;
  color: #2b2b2b;
  font-size: 30px;
}
.partner_containers .descriptions p {
  line-height: 21px;
  margin: 20px 0 30px;
}
.partner_containers .descriptions p i {
  font-style: italic;
}
.partner_containers .descriptions p a {
  color: #6adbd8;
  font-weight: 700;
}
.partner_containers .descriptions .btns {
  margin-right: 43px;
}
.partner_containers .descriptions .btn_sponsors {
  margin: 0 17px;
  color: #000200;
  font-size: 24px;
  line-height: 40px;
}
.partner_containers .descriptions .btn_sponsors:hover {
  color: #6adbd8;
}
.partner_containers .descriptions .btn_sponsors.large {
  font-size: 27px;
  line-height: 45px;
}
/* Photo Gallery
  ================================================== */
.photo_container {
  margin-bottom: 30px;
  height: 130px;
}
.photo_container img {
  opacity: 0.8;
}
.photo_container:hover img {
  opacity: 1;
}
.photo_container h2 {
  font-weight: 700;
  font-size: 16px;
  color: #2b2b2b;
}
.photo_container p {
  font-size: 12px;
  color: #666;
}
#tab-container .etabs {
  margin: 0;
  padding: 0;
  display: flex;
}
#tab-container .tab {
  display: inline-block;
  zoom: 1;
  *display: inline;
  border-left: solid 1px #2b2b2b;
  border-right: solid 1px #2b2b2b;
  height: 33px;
  line-height: 33px;
  width: 144px;
  text-align: center;
  margin-right: 20px;
}
#tab-container .tab.active {
  position: relative;
  background: #2b2b2b;
}
#tab-container .tab a {
  font-size: 12px;
  font-weight: 700;
  color: #2b2b2b;
  text-transform: uppercase;
  display: block;
  padding: 0;
  outline: none;
}
#tab-container .tab a:hover,
#tab-container .tab a.active {
  color: #fff;
}
#tab-container .tab:hover {
  position: relative;
  background: #2b2b2b;
}
#tab-container .panel-container {
  padding-top: 60px;
  margin-bottom: 10px;
  margin-left: -15px;
}
.btn_play {
  width: 45px;
  height: 45px;
  background: url('../img/btn_play.png') no-repeat;
  position: absolute;
  top: 60px;
  left: 50%;
  margin: -22px 0 0 -22px;
}
.btn_play:hover {
  background: url('../img/btn_play_hover.png') no-repeat;
}
#lbPrevLink:hover,
#lbNextLink:hover {
  text-decoration: none;
}
/* News
  ================================================== */
.news_list {
  padding: 0;
  margin: 25px 0;
  list-style: none;
}
.news_list li {
  height: 420px;
  width: 297px;
  margin-right: 29px;
}
.news_list li:nth-child(3n+3) {
  margin-right: 0;
}
.news_list li img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.news_list li h2 {
  font-size: 18px;
  color: #2b2b2b;
  font-weight: 700;
  line-height: 20px;
}
.news_list li p {
  height: 35px;
  overflow: hidden;
  margin-bottom: 25px;
}
.article {
  margin-top: 50px;
}
.article img {
  float: left;
  margin: 0 30px 30px 0;
  width: 434px;
  height: 289px;
}
.article h2 {
  font-weight: 700;
  font-size: 24px;
  color: #2b2b2b;
  line-height: 29px;
  margin-bottom: 20px;
}
.article p,
.article li {
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 20px;
}
.article_prev,
.article_next {
  border: 6px solid #e1e1e1;
  position: absolute;
  top: 45%;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  text-align: center;
  padding: 3px;
  z-index: 9999;
}
.article_prev span,
.article_next span {
  color: #e1e1e1;
  line-height: 63px;
  font-size: 40px;
  text-align: center;
}
.article_prev:hover,
.article_next:hover {
  border: 10px solid #6adbd8;
  width: 58px;
  height: 58px;
  padding: 0px;
}
.article_prev:hover span,
.article_next:hover span {
  color: #6adbd8;
  line-height: 61px;
  font-size: 40px;
}
.article_prev {
  left: -200px;
}
.article_next {
  right: -200px;
}
/* Classes
  ================================================== */
.float_left {
  float: left!important;
}
.float_right {
  float: right!important;
}
.clear {
  clear: both;
}
.center {
  text-align: center!important;
}
.relative {
  position: relative;
}
@media only screen and (max-width: 1400px) {
  .hp_bg,
  .bg_maiya,
  .bg_fundraiser {
    background: none!important;
  }
  .article_prev {
    left: 80%;
    top: -35px;
  }
  .article_next {
    right: 0px;
    top: -35px;
  }
}
@media only screen and (max-width: 1200px) {
  .caption {
    right: 11% !important;
  }
  .caption p {
    font-size: 16px!important;
  }
  .owl-theme .owl-dots .owl-dot span {
    width: 80px!important;
  }
}
@media only screen and (max-width: 991px) {
  .ribbon {
    top: -71px;
    right: -3px;
  }
  .caption p {
    font-size: 14px!important;
  }
  .photo_container {
    margin-bottom: -13px !important;
  }
}
@media only screen and (max-width: 900px) {
  .maiya_team {
    margin-left: 0px!important;
    margin-right: 20px!important;
  }
}
@media only screen and (max-width: 767px) {
  .navbar-inverse ul.nav {
    text-align: center;
  }
  .navbar-inverse ul.nav li {
    border-bottom: 0 solid #0abab5;
    height: 67px;
  }
  .navbar-inverse ul.nav li a {
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 39px;
  }
  .navbar-inverse ul.nav li:hover {
    border-bottom: 0px solid #0abab5;
  }
  .navbar-inverse ul.nav li:hover a {
    color: #0abab5;
    text-decoration: none;
  }
  .caption h1 {
    margin: 0 0 4.6% 0 !important;
  }
  .caption p {
    display: none!important;
  }
  .owl-theme .owl-dots .owl-dot span {
    width: 40px!important;
  }
  .btns {
    padding: 7px 12px!important;
  }
  .photo_container {
    margin-bottom: 35px!important;
  }
}
@media only screen and (max-width: 645px) {
  .dark_bg .title_side h2 {
    font-size: 27px;
  }
  .photo_container {
    margin-bottom: -13px !important;
  }
}
@media only screen and (max-width: 500px) {
  .dark_bg .title_side h2 {
    font-size: 19px;
  }
  .owl-theme .owl-dots {
    bottom: 30px;
  }
  .owl-theme .owl-dots .owl-dot span {
    width: 50px;
  }
  .owl-carousel .item .caption span {
    display: none!important;
  }
  .photo_container {
    margin-bottom: -13px !important;
  }
}
@media only screen and (max-width: 476px) {
  #bottom a {
    font-size: 12px;
    margin-right: 8px;
  }
}
