/* CSS Document */

.dropdown { z-index:99; width:160px; border:0; }
.dropdown label, #register_container label { font-size:14px; line-height:35px; color:#666; }
.dropdown select { width:160px; height:48px; background:#fff; }
.ddcommon { position:relative; display:-moz-inline-stack; zoom:1; display:inline-block; *display:inline; cursor:default; }
.ddcommon ul {padding:0;margin:0; }
.ddcommon ul li {list-style-type:none;}

.ddcommon .clear{clear:both}
.ddcommon input.text { color:#999; padding:0; position:absolute; background:#fff; display:block; width:160px; height:48px; left:0px; top:0; border:none; }
.ddcommon .arrow{display:inline-block; position:absolute; top:0; right:0;}
.ddcommon .ddTitle{padding:0; position:relative; display:inline-block; width:100%}
.ddcommon .ddTitle .ddTitleText{ display:block; padding:0; }
.ddcommon .ddTitle .description{ display:block; }
.ddcommon .ddChild { position:absolute; display:none; width:100%; overflow-y:auto; overflow-x:hidden; zoom:1; z-index:9999; top:60px!important; }
.ddcommon .ddChild li{clear:both;}
.ddcommon .ddChild li .description{display:block;}

/*************** default theme **********************/
.dd{ border:0; }
.dd .divider { border:0; right:24px; }
.dd .arrow { width:50px; height:60px; }
.dd .arrow:before { content: "\e605"; font-family: 'icomoon'; font-style:normal; font-size:30px; }
.dd .ddTitle{ white-space: nowrap; color:#999; font-size:16px; font-weight:300; line-height:60px; font-style:italic; text-indent:15px; border:1px solid #999; border-radius:5px; background: #fff; }
.dd .ddTitle .ddTitleText { padding:0; height:60px; width:160px; }
.dd .ddTitle .ddTitleText .ddTitleText{padding:0;}
.dd .ddChild { border:0; background:#fff; left:0; text-indent:15px; color:#999; font-size:16px; line-height:60px; border:1px solid #999; border-radius:5px; }
.dd .ddChild li{ padding:0; background:#fff; border:0; margin:0!important; }
.dd .ddChild li .ddlabel{color:#999;}
.dd .ddChild li.hover .ddlabel {color:#fff;}
.dd .ddChild li.hover{ background:#6adbd8; font-weight:700; }
.dd .ddChild li.selected {background:#6adbd8; font-weight:700; }
.dd .ddChild li.selected .ddlabel { color:#fff; }
.dd .ddChild li.selected:hover .ddlabel { color:#fff; }
.dd .ddChild li:first-child a:hover, .dd .ddChild li:first-child.hover { border-top-left-radius: 5px; border-top-right-radius: 5px; }
.dd .ddChild li:last-child a:hover, .dd .ddChild li:last-child.hover { border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }

.file { width:0; }