
/*--Form--*/

form#registration_form div { margin-bottom:0; padding:0; }

#registration_form input[type="text"], 
#registration_form input[type="email"] { height:12px; border-radius:4px; padding:24px 20px; border:1px solid #999; color:#666; font-size:16px; font-weight:300; font-style:italic; }
#registration_form textarea { height:250px; border-radius:4px; padding:24px 20px; border:1px solid #999; }
#registration_form select { height:22px; border-radius:4px; padding:14px 25px 14px 20px; border:1px solid #999; float:left; color:#999; font-weight:300; font-size:16px; font-style:italic; }

.label_text, .file label { font-weight:700; font-size:13px; color:#2b2b2b; line-height:60px; }

#registration_form fieldset { border:none; margin:0; padding:0; }
#registration_form fieldset legend { display: none; }
#registration_form input[type="radio"] { float:left; border:none; width:65px; height:63px; -webkit-appearance: push-button; margin:0 45px 20px 0;
    background:url("../img/checkbox.gif") no-repeat; }
#registration_form input[type="radio"]:checked { background:url("../img/checkbox_checked.gif") no-repeat; outline:none; }
.or_indent { margin:0 0 25px 110px!important; }

#registration_form .name { width:200px!important; margin:0 20px 25px 0; }
#registration_form .short { width:280px!important; margin:0 20px 25px 0; }
#registration_form .short_drop { height:62px; margin:0 0 20px 0; }
#registration_form .long { width:300px!important; margin:0 20px 25px 0; }
#registration_form .phone { width:50px!important; margin:0 20px 25px 0; }
#registration_form .phone_long { width:80px!important; margin:0 0 25px 0; }
#registration_form .state { margin:0 20px 25px 0; }
#registration_form .input label { width:500px; text-align: left; padding-right:0; margin:0; }

.captcha { text-transform:uppercase; font-size:16px; font-weight:300; font-style:italic; color:#999; }
.captcha input[type="text"] { padding:15px 20px!important; margin-left:15px; }
.send_margin { margin:80px 140px 0 0; }
.button_margin { margin:85px 55px 0 0; }

.indent { margin-left:110px; margin-top:20px; }
.upload_btn { padding:12px 15px; background:#2b2b2b; font-weight:700; color:#fff!important; margin:12px 15px 0 0; }
.upload_btn span { margin-right:10px; }

form p, form span { position:relative; margin:0!important; float:left; }
p.infield_label label  { position:absolute; top:23px; left:20px; white-space: nowrap; color:#999; font-size:16px; font-weight:300; font-style:italic; }
span.infield_label label  { position:absolute; top:23px; left:19px; white-space: nowrap; color:#999; font-size:16px; font-weight:300; font-style:italic; }
span.infield_label2 label  { position:absolute; top:-20px; left:-999999px; }

.birth { width:240px; height:75px; padding-bottom:20px; }

p.infield_label.center label { left:30px; }
.hidden { visibility: hidden; width:0px; }
.icon-upload { padding-right:12px; }
#registration_form .btns { outline:0; border:1px solid #2b2b2b; margin-top:10px; cursor:pointer; padding:12px 30px;
    border-top:0; border-bottom:0; font-weight:700; font-size:12px; color:#2b2b2b; background:none; text-transform:uppercase;
    border-radius:0; box-shadow:none; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; transition: all 0.2s; }
#registration_form .btns:hover { background:#2b2b2b; color:#fff; }