/* CSS Document */

body { font-family:"ff-enzo-web", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px; color:#000; padding:0;
  margin:0; background:#fff; }


@transition { -webkit-transition: all 0.2s; -moz-transition: all 0.2s; transition: all 0.2s; }
@center { position:absolute; top:50%; left:50%;
  -webkit-transform:  translate(-50%,-50%);
  -moz-transform:     translate(-50%,-50%);
  -ms-transform:      translate(-50%,-50%);
  -o-transform:       translate(-50%,-50%);
  transform:          translate(-50%,-50%);
}
@blue: #6adbd8;
@gray: #2b2b2b;
@bold:700;
@normal:300;

a { text-decoration:none; outline:none; @blue: #6adbd8; }
ul { list-style:none; padding:0; margin:0; }
p { font-weight: @normal; font-size:16px; }

#wrapper {  margin:0; padding:0; height:auto; position:relative; overflow:hidden!important; }

.content { position: relative; margin: 0 auto; padding: 0; }

header { height:126px; background:@gray; text-align:center; padding-top:20px; }
.logo { height: 106px;
  img { display: inline-block; }
}
  .ribbon-back { height:45px; background:url('../img/bg_ribbon_tape.jpg') top center; }
  .ribbon { position: absolute; top: -103px; right: 0px; z-index: 999; float: right; }
.navigation { background: #63ccc9; border:none;
  background: -moz-linear-gradient(top,  #63ccc9 0%, @blue 5%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63ccc9), color-stop(5%,@blue)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #63ccc9 0%,@blue 5%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #63ccc9 0%,@blue 5%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #63ccc9 0%,@blue 5%); /* IE10+ */
  background: linear-gradient(to bottom,  #63ccc9 0%,@blue 5%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63ccc9', endColorstr='@blue',GradientType=0 ); /* IE6-9 */
  .navbar-inverse { background-color: transparent; border-color: transparent; margin-bottom:0;
    ul.nav { margin-bottom:0;
      li { border-bottom:0 solid #0abab5; height:67px;
          a { font-weight:@bold; color:#fff; font-size:14px; text-transform:uppercase; line-height:39px; }
        &:hover { border-bottom:6px solid #0abab5;
          a { color:#0abab5; text-decoration: none;}
        }
      }
    }
    .navbar-toggle, navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus { background-color: transparent!important; border:0 solid; }
  }
}
  #bottom { height:90px; line-height:90px; background:@blue;
    nav { line-height:90px; margin-right:10px; }
    .ut { margin-top: 15px; }
    a { font-weight:@bold; color:#fff; font-size:14px; text-transform:uppercase; line-height:90px; margin-right:18px; text-decoration: none;
      &:hover { color:#0abab5; }
    }
    .img-responsive { display: inline-block; }
  }

  footer { height:936px!important; display:block; background:url('../img/bg_footer.jpg') no-repeat top center; background-size:cover;
    max-width: 100%; }

  .btn_social { z-index:99999;
    span { font-size:28px; color:#0abab5; line-height:67px; float:left; }
    &:hover span { color:#fff; }
  }
  .twitter span { font-size:35px; line-height:64px; margin-right:20px; }


  /* Home
  ================================================== */
.owl-carousel {
  .item { position:relative;
    .caption { position: absolute; width: 100%; top: 22%; right: 24%; z-index: 10; text-align: right;
      span { font-family: "ff-enzo-web"; color:@blue; text-transform:uppercase; font-size:10px; }
      h3 { color:#fff; font-family: "ff-enzo-web"; line-height:1em; font-size: 1.719vw; text-transform: uppercase; }
      h1 { color:#fff; font-family: "ff-enzo-web"; line-height:1em; font-size: 3.438vw; text-transform: uppercase; font-weight: bold; margin: 0 0 1.6% 0;}
      p { font-size:18px; color:#5f5f5f; margin: 0 0 2% 0; }
      a {   }
    }
  }
}
.owl-theme .owl-dots { position: relative; bottom: 40px; outline: none; }
.owl-theme .owl-dots .owl-dot { height: 20px!important; outline: none;}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span { background: none;}
.owl-theme .owl-dots .owl-dot span { display: block; border-bottom: 1px solid #0abab5; width: 136px; height: 1px;
  margin: 0 5px; outline: none; cursor: pointer; }
.owl-nav { display: none; }


  .instagram_post { position: relative; padding-top: 15px;
      a {
        img { opacity:0.8; max-width: 100%; height: auto;;
           }
        &:hover img { opacity:1; }
      }
    }
    .instagram {
      .instagram_info { text-align: center; opacity:0; text-transform:uppercase; padding:5px 10px;
        color:#fff; pointer-events: none; background:#000; font-size:16px;
        ul { display: inline-block;
          li { color:#fff; padding:0 10px; float:left; }
        }
      }
      &:hover {
        .instagram_info { opacity:1; }
        p { color:@blue; background:#fff; }
      }
    }

#hp_news { margin-bottom: 64px; }

  .inner { width:100%; position: relative; margin: 0 auto;
    .primary { margin: 0 auto; position: relative;
      .bx-wrapper { position: relative; margin: 0; padding: 0; *zoom: 1; height:auto; }
    }
  }


  /* Pages
  ================================================== */
  .title_side { height:65px; border-bottom:2px solid #aeaeae; position:relative; margin-bottom:15px; margin-top:25px;
    h2 { font-weight:@bold; line-height:46px; margin:0; color:@gray; font-size:46px; text-transform:uppercase; }
    .arrow { position:absolute; bottom:-6px; left:50px; }
  }

  .dark_bg { background:@gray; color:#fff;
    .title_side { border-bottom:2px solid #555;
      h2 { color:#fff; text-transform:none; font-size:37px;
        span { font-weight:@normal; }
        span.icon-twitter { color:#0abab5; margin-right:15px; font-size:35px; }
      }
    }
  }

  .title { height:88px; border-bottom:2px solid @blue; position:relative; margin-bottom:50px; margin-top:44px;
    h1 { font-weight:@normal; line-height:48px; margin:0; color:@blue; font-size:48px; text-transform:uppercase; text-align:center; }
    .arrow { position:absolute; bottom:-6px; left:50%; margin-left:-38px; }
  }

  .separator { height:29px; border-bottom:2px solid @blue; position:relative; margin-bottom:38px;
    .arrow { position:absolute; bottom:-6px; left:50%; margin-left:-38px; }
  }

  .btns { padding:12px 30px; border-left:1px solid @gray; border-right:1px solid @gray; font-weight:@bold; font-size:12px; color:@gray;
    background:none; text-transform:uppercase;
    &:hover { background:@gray; color:#fff; }
  }

  .dark_bg .btns, .captions .btns, span.white .btns { border-left:1px solid #fff; border-right:1px solid #fff; color:#fff; }
  .dark_bg .btns:hover, .captions .btns:hover, .white .btns:hover { background:#fff; color:@gray; }

  .text {
    h2 { font-weight:@bold; font-size:24px; color:@gray; margin:45px 0 15px 0; }
    p { line-height:21px; margin:15px 0 25px 0; }
    h3 { font-weight:@bold; line-height:21px; font-size:16px; color:@gray; }
    .icon-phone { color:@gray; font-size:18px; margin-right:15px; }
    .icon-mail { color:@gray; font-size:24px; margin-right:15px; vertical-align:sub; }
    a { color:@blue; font-weight:@bold;
      &:hover { color:#000; }
    }
  }

  .header { padding-top:11px;
    img {  height:auto; }
  }
  a.margin { margin-left:85px; }




  /* Maiya
  ================================================== */
  .bg_maiya { background:url(../img/bg_maiya.jpg) no-repeat right 1000px, url(../img/bg-maiya-left.jpg) no-repeat left 300px!important;
    .maiya_text { margin:0 auto; position:relative;
      p { color:@gray; line-height:24px; }
      a { color:@blue; }
      .img_center { margin-left:133px; margin-bottom: 50px; }
      .firstcharacter { float: left; line-height:95px; padding-top:10px; padding-right:40px; font-family:"southern_aire_personal_use_Rg", Helvetica, Arial, sans-serif;
        font-size:147px; }
      .float_right {  }
      .float_left { }
      .maiya_team { margin-left:-60px; margin-right: 20px; }
    }
    .img_border { border:23px solid @blue;margin-left: 20px; margin-bottom: 10px;  }
  }

  /* Schedule
  ================================================== */
  .table_header { background:@gray; height:68px; margin-top:50px;
    table { width:100%;
      td { height:68px; border-right:2px solid #545454; line-height:68px; padding-left:10px; font-weight:@bold; font-size:16px; color:#fff;
        &:first-child { padding-left:0; }
        &:last-child { border:none; }
      }
    }
  }
  .schedule_list {
    table { width:100%;
      td { height:83px; vertical-align:middle; padding-left:10px; font-weight:@normal; font-size:14px; border-bottom:1px solid #d6d6d6;
        &:first-child { padding-left:0; }
      }
      td.event { font-weight:@bold; }
      td.date { white-space:nowrap; }
    }
  }


  /* Teaching
  ================================================== */
  .bg_fundraiser { margin-bottom: 50px;
    a { color:@blue; }
    p { color:@gray; line-height: 24px;}
  }
.teaching-header { height:735px; display:block; background-image:url('../img/bg_schedule_header.jpg');
  background-repeat: no-repeat; background-size:cover; max-width: 100%; }

.img_border { border:23px solid @blue; }
.teaching_img img  { margin: 15px 0px;}
  .event_text {
    h3 { font-weight:@bold; font-size:30px; color:@gray; margin:45px 0 15px 0; }
    p { line-height:28px; margin:15px 0 25px 0; font-size:24px;
      i { font-style:italic; }
    }
    table { font-size:16px; color:@gray; margin-bottom:100px;
      th { font-weight:@bold; text-align:left; }
      td { font-weight:@normal; }
    }
  }

  .fundraiser_logo { padding:30px 18px 40px 18px; background:@blue; margin-top:20px;
    img { float:left; margin:0 22px; height:78px; width:auto; }
  }

  .steps { margin:60px 0 40px 0; padding: 0;
    .tab { display: inline-block; zoom:1; *display:inline; border-bottom:solid 3px #d0d0d0; height:45px; padding-bottom:3px;
        line-height:35px; width:49.5%; text-align:center;

      a { font-size: 30px; font-weight:@normal; color:#999; display: block; padding: 0; outline: none; }
    }
    .active { position: relative; border-bottom:solid 6px @blue; padding:0;
      a { color:@blue; font-weight:@bold; }
    }
    .panel-container { margin-bottom: 50px; }
  }

  #registration_form {
    h3 { font-weight:@bold; font-size:24px; color:@gray; margin:0 0 15px 0; }
    p { margin:15px 0 25px 0; }
  }
  .spacer { width:100%; height:30px; display:block; }
  .redbox { border:2px solid #ff0000; padding:25px 35px 15px 35px; float:left;
    h3 { font-weight:@bold; font-size:24px; color:@gray; margin:0 0 15px 0; }
    ul { list-style:disc; padding:0 0 0 35px; }
    li { font-weight:@normal; font-size:16px; color:@gray; margin:15px 0;
      b { color:#ff0000; }
    }
  }
  #billing {
    table { width:50%; margin:50px 0;
      th { font-weight:@bold; font-size:24px; color:@gray; }
      td { font-weight:@normal; font-size:18px; }
      .border_top { border-top:1px solid #000; }
    }
  }

  /*---Popup---*/
  #basic-modal-content {display:none;}
  #simplemodal-overlay {background:#000; }
  #simplemodal-container { height:360px; width:600px; background:#c41230; padding:8px; text-align:center;
    a.modalCloseImg { background:#000 url(../img/close.png) no-repeat center; position:absolute; top:-9px; right:-9px; width:36px; height:36px; border-radius:20px; outline: none;
      &:hover { background-color:#c41230; cursor:pointer; }
    }
    .popup_message { height:120px; width:560px; background:#fff; padding:120px 20px; }
    h3 { font-family:"geometr212_bkcn_btheavy", Arial, Helvetica, sans-serif; font-size:36px; color:#c41230; line-height:50px; font-weight:normal; margin:0; }
    p { font-family:"geometr212_bkcn_btbook", Arial, Helvetica, sans-serif; font-size:18px; color:#666; line-height:30px; font-weight:normal; margin:15px 0; }
  }


  /* Sponsors
  ================================================== */
  .partner_containers { min-height:371px; padding:50px 0; border-bottom:1px solid #ddd;
    img {margin-right: 30px; margin-bottom: 20px; }
    .descriptions {
      img { height:auto; }
      h3 { font-weight:@bold; line-height:30px; margin:5px 0 15px 0; color:@gray; font-size:30px; }
      p { line-height:21px; margin:20px 0 30px;
        i { font-style:italic; }
        a { color:@blue; font-weight:@bold; }
      }
      .btns { margin-right:43px; }
      .btn_sponsors { margin:0 17px; color:#000200; font-size:24px; line-height:40px;
        &:hover { color:@blue; }
      }
      .btn_sponsors.large { font-size:27px; line-height:45px; }
    }
  }


  /* Photo Gallery
  ================================================== */
  .photo_container { margin-bottom:30px; height:130px;

    img { opacity:.8; }
    &:hover img { opacity:1; }
    h2 { font-weight:@bold; font-size:16px; color:@gray; }
    p { font-size:12px; color:#666; }
  }

  #tab-container {
    .etabs { margin: 0; padding: 0; display:flex; }
    .tab { display: inline-block; zoom:1; *display:inline; border-left:solid 1px @gray; border-right:solid 1px @gray; height:33px; line-height:33px;
      width:144px; text-align:center; margin-right:20px;
      &.active { position: relative; background:@gray; }
      a { font-size: 12px; font-weight:@bold; color:@gray; text-transform:uppercase; display: block; padding: 0; outline: none;
        &:hover, &.active { color:#fff; }
      }
      &:hover { position: relative; background:@gray; }
    }
    .panel-container { padding-top:60px; margin-bottom: 10px; margin-left:-15px; }
  }

  .btn_play { width:45px; height:45px; background:url('../img/btn_play.png') no-repeat; position:absolute; top:60px; left:50%; margin:-22px 0 0 -22px;
    &:hover { background:url('../img/btn_play_hover.png') no-repeat; }
  }
#lbPrevLink, #lbNextLink {
  &:hover {  text-decoration: none; }
}
  /* News
  ================================================== */
  .news_list { padding:0; margin:25px 0; list-style:none;
    li { height:420px; width:297px; margin-right:29px;
      &:nth-child(3n+3) { margin-right:0; }
      img { width:100%; height:auto; margin-bottom:10px; }
      h2 { font-size:18px; color:@gray; font-weight:@bold; line-height: 20px; }
      p { height:35px; overflow:hidden; margin-bottom:25px; }
    }
  }
  .article { margin-top:50px;
    img { float:left; margin:0 30px 30px 0; width:434px; height:289px; }
    h2 { font-weight:@bold; font-size:24px; color:@gray; line-height:29px; margin-bottom:20px; }
    p, li { font-weight:@normal; font-size:16px; line-height:21px; margin-bottom:20px; }
  }
  .article_prev, .article_next {  border:6px solid #e1e1e1; position:absolute; top:45%; width:61px; height:61px; border-radius:50%;
    text-align:center; padding:3px; z-index:9999;
    span { color:#e1e1e1; line-height:63px; font-size:40px; text-align:center;  }
    &:hover { border:10px solid @blue; width:58px; height:58px; padding:0px;
      span { color:@blue; line-height:61px; font-size:40px; }
    }
  }
  .article_prev { left:-200px; }
  .article_next { right:-200px; }

  /* Classes
  ================================================== */
  .float_left { float:left!important; }
  .float_right { float:right!important; }
  .clear { clear:both; }
  .center { text-align:center!important; }
  .relative { position:relative; }

  @media only screen and (max-width: 1400px) {
    .hp_bg, .bg_maiya, .bg_fundraiser { background:none!important; }
    .article_prev { left:80%; top:-35px; }
    .article_next { right:0px; top:-35px; }

  }
@media only screen and (max-width: 1200px) {
  .caption { right:11% !important;
    p { font-size: 16px!important; }
  }
  .owl-theme .owl-dots .owl-dot span { width: 80px!important; }
}
@media only screen and (max-width: 991px) {
  .ribbon { top: -71px; right: -3px; }
  .caption {
    p { font-size: 14px!important; }
  }
  .photo_container { margin-bottom: -13px!important; }
}

@media only screen and (max-width: 900px) {
  .maiya_team { margin-left:0px!important; margin-right: 20px!important; }

}
@media only screen and (max-width: 767px) {
.navbar-inverse ul.nav { text-align: center;
    li { border-bottom:0 solid #0abab5; height:67px;
      a { font-weight:@bold; color:#fff; font-size:14px; text-transform:uppercase; line-height:39px; }
      &:hover { border-bottom:0px solid #0abab5;
        a { color:#0abab5; text-decoration: none;}
      }
    }
  }
  .caption {
    h1 { margin: 0 0 4.6% 0!important; }
    p { display: none!important; }
  }
  .owl-theme .owl-dots .owl-dot span { width: 40px!important;}
  .btns { padding: 7px 12px!important; }
  .photo_container { margin-bottom: 35px!important; }
}

@media only screen and (max-width: 645px) {
  .dark_bg .title_side h2 { font-size:27px; }
  .photo_container { margin-bottom: -13px!important; }
}

@media only screen and (max-width: 500px) {
  .dark_bg .title_side h2 { font-size:19px; }
  .owl-theme .owl-dots {bottom: 30px;}
  .owl-theme .owl-dots .owl-dot span { width: 50px;}
  .owl-carousel .item .caption span { display: none!important; }
  .photo_container { margin-bottom: -13px!important; }
}

@media only screen and (max-width: 476px) {
  #bottom a { font-size:12px; margin-right:8px; }

}
