/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{ position:absolute; bottom:10px; left:0; width:100%; z-index: 1; }
.owl-theme .owl-controls .owl-buttons div { text-align: center; }
.owl-theme .owl-controls .owl-buttons div span { display: inline-block; font-size: 0px; cursor: pointer; margin: 0 30px;
	width: 66px; height: 66px; border-radius: 50%; text-align: center; position: relative; z-index: 1; color: #fff; }
.owl-theme .owl-controls .owl-buttons div span:after { pointer-events: none; position: absolute; width: 100%; height: 100%;
	border-radius: 50%; content: ''; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
.owl-theme .owl-controls .owl-buttons div span:before { font-size: 35px; line-height: 66px; display: block; }
.owl-theme .owl-controls .owl-buttons div span { background:#000 url("../img/bg_pattern.jpg") 108% 10%; -webkit-transition: all 0.2s;
	-moz-transition: all 0.2s; transition: all 0.2s; }
.owl-theme .owl-controls .owl-buttons div span:after { top: 0px; left: 0px; padding: 0; box-shadow: 0 0 0 4px #ee3224; opacity: .3; }
/* Effect 1a */
.owl-theme .owl-controls .owl-buttons div span:hover { background: #fff url("../img/bg_pattern_wt.jpg") 108% 10%; color: #ee3224; }
.owl-theme .owl-controls .owl-buttons div span:hover:after { box-shadow: 0 0 0 8px #ee3224; }


/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #fff;
	-webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
	transition: transform 0.3s ease, background-color 0.3s ease;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	background:#ee3224; -webkit-transform: scale(1.5); transform: scale(1.5);
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}