/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
*:focus { outline:0; }
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; }
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; border:8px solid #fff;}
#cboxTitle{margin:0; font-weight:normal; font-size:10px;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; }
.cboxIframe{width:100%; height:100%; display:block; border:0; overflow:hidden;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{line-height:normal;}
    #cboxContent{background:#none; overflow:visible;}
        #cboxLoadedContent{margin-bottom:40px;}
        #cboxLoadingOverlay{background:#000;}
        #cboxLoadingGraphic{background:url(images/bx_loader.gif) no-repeat center center;}
        #cboxTitle{display:none; text-indent:-9999px;}
        #cboxCurrent{display:none; visibility:hidden;}
        
        #cboxPrevious, #cboxNext, #cboxSlideshow{text-indent:-9999px;}
        #cboxPrevious, #cboxNext{ display: block; position: absolute; top: 50%; margin-top:-30px; width:73px!important; height:73px!important; border-radius:50%; outline: none; border:6px solid #6adbd8; color:#6adbd8; 
		text-align:center; line-height:55px; font-size:55px; font-weight:bold; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; transition: all 0.2s; }
		
		#cboxPrevious { left:-90px; background:url(../../img/arrow_left.png) no-repeat center; }
		#cboxNext { right:-90px; background:url(../../img/arrow_right.png) no-repeat center; }
		#cboxPrevious:hover, #cboxNext:hover { border:10px solid #fff; }
		#cboxClose { display:none; }
        /*#cboxClose{position:absolute; top:-18px; border-radius:20px; border:none; outline:0;
		width:36px; height:36px; background:#000 url(images/close.png) no-repeat center; text-indent:-9999px;right:-18px; }
		#cboxClose:hover { background-color:#63ccc9; }*/
        
        .cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px; right:27px;}
        .cboxSlideshow_on #cboxSlideshow.hover{background-position:-150px 0px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px; right:27px;}
        .cboxSlideshow_off #cboxSlideshow.hover{background-position:-125px 0px;}
		